body {

  font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0px;
}

a {
  color: #00B7FF;
}

/*네비게이션 바*/
nav {
  padding-left: 5px;
  padding-right: 5px;

  width: auto;
  background: black;
  color: #f1f1f1;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}


.content {
  padding: 5px;
}


.sticky {
  position: fixed;
  top: 0;
  width: 100%
}


.sticky+.content {
  padding-top: 20px;
}


/*현재 todolist 보드*/
.board {
  margin: 10px;
  overflow-x: auto;
  display: flex;
}

/*todo 카드를 담는 컨테이너 */
.todo-container {

  flex: 0 0 250px;
  margin: 10px;
  min-height: 500px;
  background-color: #ececece5;
  border-radius: 1em;
  border: none;
  padding-bottom: 50px;
}

.container-title {

  display: flex;
  justify-content: space-between;
  margin: 5px;

}

/*todo card추가 버튼 css*/
.add-todo {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  outline: none;
}


/*todo카드*/
.todo-card {

  width: 250px;
  margin: 10px;
  border-radius: 0.5em;
  height: auto;
  border: 1px solid #e1e4e8 !important;
  background-color: white;



}

.todo-card:focus {
  border: 1px solid skyblue !important;
}

.todo-body {
  display: flex;

}

/*todo카드 내용부분*/
.todo-content {
  display: block;
  width: 200px;
  white-space: normal !important;
  margin: 5px;
  word-break: break-all;
  word-wrap: break-word;
}

.btn-area {
  display: flex;
  height: fit-content;
}

/*todocard 삭제버튼*/
.remove {

  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  outline: none;

}

.edit-btn {

  border: none;
  background-color: Transparent;
  cursor: pointer;
  outline: none;
}

/*todo작성자 부분*/
.todo-author {
  margin: 5px;
}


/* todo 추가 form */
.form-add-todo {
  margin: 5px;
}

.add-btn {
  background-color: mediumseagreen;
  margin-left: 5px;
  margin-right: 5px;
  border: none;
}

.edit-submit-btn {
  background-color: dodgerblue;
  margin-left: 5px;
  margin-right: 5px;
  border: none;
}

.cancel-btn {
  margin-left: 5px;
  margin-right: 5px;
  border: none;
  background-color: indianred;
}

.form-btn-area {
  margin: 5px;
}

.form-btn-area .add-btn {
  width: 45%;
}

.form-btn-area .cancel-btn {
  width: 45%;
}

.form-btn-area .edit-submit-btn {
  width: 45%;
}

.textarea-todo {
  width: 95%;
  margin: 5px;
  height: 50px;
  border-radius: 0.5em;
  overflow: scroll;
  overflow-x: hidden;
  resize: vertical;
  border: 1px solid #e1e4e8 !important;
}



.hidden {
  display: none;
}
